/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars on the body */
    font-family: 'Courier New', Courier, monospace;
    background-color: #0d0d0d;
}

#stars-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.site-wrapper {
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow-y: auto; /* Allow scrolling within the wrapper */
}

.container {
    display: flex;
    position: relative;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    background-color: rgba(26, 26, 26, 0.85); /* Semi-transparent background */
    padding: 20px;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar a {
    color: #00ff00;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #333;
    text-align: center;
}

/* Content styles */
.content {
    margin-left: 240px; /* Adjust for sidebar width and padding */
    padding: 20px;
    width: calc(100% - 240px); /* Adjust for sidebar */
    color: #00ff00;
}

/* Blog list styles */
.blog-list li {
    margin-bottom: 20px; /* Space between blog entries */
}

.blog-list h2 {
    margin-top: 0;
    margin-bottom: 2px; /* Tighter space below the title */
}

.blog-list .last-updated {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 20px; /* Indentation */
    font-size: 0.9em;
    color: #999;
}

.header h1, .header p {
    color: #00ff00;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}
